.widget-wrap
  margin-bottom: block-margin !important

.widget-title
  color: #ccc
  text-transform: uppercase
  letter-spacing: 2px
  margin-bottom: 1em
  line-height: 1em
  font-weight: bold

.widget
  color: color-grey
  ul
    li
      display: inline
      padding: 0 10px 0 0